<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harmonogramy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <center><h1>Harmonogramy</h1></center>
    <table class="table table-bordered table-striped" border="1">
        <thead class="table-dark">
        <th scope="row">Numer</th>
        <th scope="row">Tytuł</th>
        <th scope="row">Operacje </th>
        </thead>
        <tbody>
        <tr th:each="scheduler:${schedulers}">
            <td th:text=${scheduler.id}></td>
            <td>
                <a th:href="@{'/scheduler/' + ${scheduler.id}} " th:text=${scheduler.title}></a>
            </td>
            <td>
                <form method="post" th:action="@{'/scheduler/' + ${scheduler.id} + '/delete'}">
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj harmonogram</button> </center>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/scheduler/addNew}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nowy Harmonogram</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tytuł harmonogramu</label>
                        <textarea class="form-control" id="message-text" name="schedulerTitle"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cofnij</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>